@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/montserrat-thin-webfont.woff) format("woff");
  src: url(../fonts/montserrat-thin-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/montserrat-light-webfont.woff) format("woff");
  src: url(../fonts/montserrat-light-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/montserrat-regular-webfont.woff) format("woff");
  src: url(../fonts/montserrat-regular-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/raleway-regular-webfont.woff) format("woff");
  src: url(../fonts/raleway-regular-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/raleway-medium-webfont.woff) format("woff");
  src: url(../fonts/raleway-medium-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/raleway-semibold-webfont.woff) format("woff");
  src: url(../fonts/raleway-semibold-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/raleway-bold-webfont.woff) format("woff");
  src: url(../fonts/raleway-bold-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/raleway-extrabold-webfont.woff) format("woff");
  src: url(../fonts/raleway-extrabold-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/roboto-regular-webfont.woff) format("woff");
  src: url(../fonts/roboto-regular-webfont.woff2) format("woff2"); }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #8c8c8c; }

.container {
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul, li, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 28px; }

@media (max-width: 992px) {
  .page-header {
    position: static;
    top: 0;
    padding-top: 0;
    background-color: #111111; } }

.main-nav {
  padding-left: 0;
  padding-right: 0; }

.main-nav__site {
  margin-right: 43px; }

.main-nav__search {
  margin-top: -5px;
  margin-right: -5px; }

@media (max-width: 1200px) {
  .main-nav__site {
    margin-right: 10px; } }

.logo__link {
  font-family: Raleway;
  color: #ffffff;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px; }
  .logo__link:hover {
    color: #c7b299;
    text-decoration: none; }

.logo__img {
  margin-right: -5px; }

.site-list__link {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 300; }
  .site-list__link:hover {
    color: #c7b299 !important; }

.site-list__item {
  margin-left: 13px; }

@media (max-width: 1200px) {
  .site-list__item {
    margin-left: 5px; } }

@media (max-width: 992px) {
  .site-list__item {
    padding-top: 5px;
    padding-bottom: 5px; }
  .site-list__link {
    font-size: 20px; } }

.search-list__item {
  margin-left: 8px; }
  .search-list__item:hover .search-list__icon {
    fill: #c7b299; }

.search-list__icon {
  fill: #ffffff; }

@media (max-width: 992px) {
  .search-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .search-list__item {
    margin-left: 10px;
    margin-right: 30px; } }

.top-slider__item {
  width: 100%;
  height: 1024px;
  padding-top: 368px;
  background-color: rgba(17, 17, 17, 0.7);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.top-slider__intro {
  margin-bottom: -10px;
  font-family: "Raleway";
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-align: center; }

.top-slider__title {
  margin-bottom: 5px;
  font-family: "Raleway";
  color: #ffffff;
  font-size: 52px;
  font-weight: 800;
  text-align: center; }

.top-slider__descriptiopn {
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }

.top-slider__button {
  display: block;
  margin: 0 auto; }

.top-slider__indicators {
  bottom: 15px; }
  .top-slider__indicators li {
    width: 11px;
    height: 11px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5; }
    .top-slider__indicators li.active {
      width: 11px;
      height: 11px;
      margin-top: 8px;
      border: 2px solid #d3c1ad;
      background-color: transparent;
      opacity: 1; }

.top-slider__control {
  position: relative;
  width: 73px;
  height: 40px;
  background-image: none; }
  .top-slider__control::before, .top-slider__control::after {
    content: "";
    position: absolute;
    top: 46%;
    display: block;
    width: 53px;
    height: 3px;
    background-color: #d3c1ad; }
  .top-slider__control::before {
    left: -11%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .top-slider__control::after {
    right: -11%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .top-slider__control--prev {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .top-slider__control--next {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

@media (max-width: 992px) {
  .top-slider__control {
    display: none; }
  .top-slider__item {
    height: 93vh;
    padding-top: 20vh; } }

@media (max-width: 768px) {
  .top-slider__title {
    font-size: 42px; }
  .top-slider__intro {
    font-size: 26px; } }

.button {
  width: 170px;
  height: 50px;
  font-family: "Raleway";
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  border: none; }
  .button:hover {
    -webkit-box-shadow: inset 0 -3px 0 #998675;
    box-shadow: inset 0 -3px 0 #998675;
    background-color: #736357; }

.services {
  min-height: 373px;
  padding-top: 80px; }

.services__item {
  position: relative;
  padding-bottom: 28px; }
  .services__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    width: 70px;
    height: 3px;
    background-color: #f1eee9; }
  .services__item:hover .services__img {
    fill: #c7b299; }
  .services__item:hover .services__title {
    color: #c7b299; }
  .services__item:hover::after {
    background-color: #c7b299; }

.services__img {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #555555; }

.services__title {
  margin-bottom: 12px;
  font-family: "Raleway";
  color: #555555;
  font-size: 22px;
  font-weight: 700;
  text-align: center; }

.services__description {
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }

@media (max-width: 992px) {
  .services {
    padding-top: 40px;
    padding-bottom: 20px; } }

.headline {
  font-family: "Raleway";
  color: #555555;
  font-size: 30px;
  font-weight: 700; }
  .headline--light {
    color: #ffffff; }

.description {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px; }
  .description--light {
    color: #ffffff; }

.realization {
  padding-top: 78px;
  background-color: #fbfaf8; }

.realization__headline {
  margin-bottom: 16px;
  text-align: center; }

.realization__description {
  margin-bottom: 34px;
  text-align: center; }

.realization__picture {
  width: 100%;
  height: auto; }

@media (max-width: 768px) {
  .realization {
    padding-top: 40px; } }

.theme {
  min-height: 150px;
  padding-top: 44px;
  padding-bottom: 10px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.theme__headline {
  margin-bottom: 0px;
  font-family: "Raleway";
  color: #ffffff;
  font-size: 28px;
  font-weight: 400; }
  .theme__headline--color {
    color: #c7b299; }

.theme__description {
  color: #615855;
  font-size: 18px;
  font-weight: 300; }

.theme__button {
  margin-top: 5px;
  display: block;
  margin-left: auto; }

@media (max-width: 992px) {
  .theme__headline {
    font-size: 22px; } }

@media (max-width: 768px) {
  .theme {
    padding-top: 20px;
    padding-bottom: 20px; }
  .theme__headline,
  .theme__description {
    text-align: center; }
  .theme__button {
    margin-right: auto; } }

.project {
  position: relative;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .project:hover .project__content {
    background-color: #362f2d; }
    .project:hover .project__content::after {
      z-index: 2;
      border-bottom-color: #362f2d; }
  .project:hover .project__title {
    color: #ffffff; }
  .project:hover .project__description {
    color: #c7b299; }
  .project:hover .project__more {
    display: block; }

.project__picture {
  height: auto; }

.project__content {
  position: relative;
  padding-top: 27px;
  padding-left: 8.1%;
  background-color: #fbfaf8; }
  .project__content::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 19px;
    width: 30px;
    height: 20px;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8; }

.project__title {
  font-family: "Raleway";
  color: #c7b299;
  font-size: 20px;
  font-weight: 500; }

.project__description {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px; }

.project__more {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 70%;
  background-color: rgba(17, 17, 17, 0.7); }

.project__wrapper {
  width: 100%;
  height: 100%; }

.project__link:hover .project__icon {
  fill: #c7b299; }

.project__icon {
  fill: #ffffff; }

@media (max-width: 992px) {
  .project__title {
    font-size: 18px; }
  .project__description {
    font-size: 12px; } }

.latest-projects {
  padding-top: 78px;
  padding-bottom: 40px; }

.latest-projects__headline {
  margin-bottom: 14px;
  text-align: center; }

.latest-projects__description {
  margin-bottom: 34px;
  text-align: center; }

.latest-projects__categories {
  margin-bottom: 40px; }

.latest-projects__list {
  margin-bottom: 20px; }

.latest-projects__button {
  display: block;
  margin: 0 auto; }

.categories__button {
  width: 135px;
  height: 32px;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #ebebeb; }
  .categories__button:hover {
    color: #ffffff;
    background-color: #998675; }

.presentation {
  position: relative; }

.presentation__text {
  position: absolute;
  z-index: 2;
  padding-top: 10%;
  width: 100%; }

.presentation__button {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  background-image: url("../img/presentation-play-button.png");
  background-position: center;
  background-size: 100px 100px; }

.presentation__headline {
  margin-top: 40px;
  margin-bottom: 25px; }

.presentation__description {
  margin-bottom: 35px; }

.presentation__time {
  color: #c7b299;
  font-size: 14px;
  font-weight: 400; }

@media (max-width: 1200px) {
  .presentation__text {
    padding-top: 80px; }
  .presentation__headline {
    margin-top: 20px;
    margin-bottom: 15px; }
  .presentation__description {
    margin-bottom: 15px; } }

@media (max-width: 992px) {
  .presentation__description,
  .presentation__time {
    display: none; } }

@media (max-width: 768px) {
  .presentation__text {
    padding-top: 10%; }
  .presentation__headline {
    display: none; }
  .presentation__button {
    width: 75px;
    height: 75px;
    background-image: url("../img/presentation-play-button.png");
    background-position: center;
    background-size: 75px 75px; } }

.excellent {
  margin-top: -3%;
  padding-top: 110px;
  background-color: #fbfaf8; }

.excellent__headline {
  margin-top: 112px;
  margin-bottom: 27px; }

.excellent__description {
  margin-bottom: 35px; }

.excellent__list {
  padding-left: 47px; }

.excellent__item {
  padding-left: 50px;
  margin-bottom: 10px;
  position: relative; }
  .excellent__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    display: block;
    background-image: url("../img/excellent-list-disk.png");
    background-position: center; }

.excellent__picture {
  width: 100%;
  height: auto; }

@media (max-width: 1200px) {
  .excellent {
    padding-top: 20px; }
  .excellent__headline {
    margin-top: 30px;
    margin-bottom: 27px; }
  .excellent__list {
    padding-bottom: 30px; } }

@media (max-width: 768px) {
  .excellent__picture {
    display: none; }
  .excellent__headline,
  .excellent__description {
    text-align: center; }
  .excellent__list {
    padding-left: 0px; } }

.counters {
  min-height: 300px;
  padding-top: 69px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.counters__item {
  position: relative;
  padding-bottom: 25px; }
  .counters__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff; }

.counters__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px; }

.counters__number {
  margin-bottom: -5px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  text-align: center; }

.counters__title {
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; }

@media (max-width: 1200px) {
  .counters__number {
    font-size: 40px; }
  .counters__title {
    font-size: 12px; } }

@media (max-width: 768px) {
  .counters {
    padding-top: 30px;
    padding-bottom: 30px; }
  .counters__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .counters__item {
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .counters__number {
    font-size: 30px; }
  .counters__title {
    font-size: 10px; } }

.post {
  position: relative;
  border: 1px solid #f8f8f8;
  border-radius: 0; }
  .post:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.7); }
  .post:hover .post__content {
    background-color: #362f2d; }
  .post:hover .post__title {
    color: #c7b299; }
  .post:hover .post__description {
    color: #ffffff; }
  .post:hover .post__day {
    color: #ffffff;
    background-color: #c7b299; }
  .post:hover .post__month {
    color: #ffffff;
    background-color: #a48d72; }

.post__picture {
  height: auto; }

.post__date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2; }

.post__day {
  display: block;
  width: 50px;
  height: 35px;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  border-radius: 3px 3px 0 0;
  background-color: #363636; }

.post__month {
  display: block;
  width: 50px;
  height: 25px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-radius: 0 0 3px 3px;
  background-color: #252525; }

.post__content {
  position: relative;
  z-index: 2;
  padding-top: 27px;
  padding-left: 30px;
  background-color: #ffffff; }

.post__title {
  margin-bottom: 17px;
  font-family: "Raleway";
  color: #555555;
  font-size: 20px;
  font-weight: 500; }

.post__description {
  margin-bottom: 18px;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px; }

.recent-posts {
  padding-top: 77px;
  padding-bottom: 80px; }

.recent-posts__headline {
  margin-bottom: 16px;
  text-align: center; }

.recent-posts__description {
  margin-bottom: 32px;
  text-align: center; }

.recent-posts__carousel {
  padding-bottom: 40px; }

.recent-posts__indicators {
  bottom: -30px; }

.recent-posts__indicator {
  width: 22px !important;
  height: 22px !important;
  background-image: none; }
  .recent-posts__indicator--left {
    background-image: url("../img/recent-posts-left.svg");
    opacity: 1 !important; }
    .recent-posts__indicator--left.active {
      background-image: url("../img/recent-posts-left-active.svg"); }
  .recent-posts__indicator--right {
    background-image: url("../img/recent-posts-right.svg");
    opacity: 1 !important; }
    .recent-posts__indicator--right.active {
      background-image: url("../img/recent-posts-right.svg"); }

.partners {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../img/partners-bg.jpg");
  background-color: rgba(17, 17, 17, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center; }

.partners__logo {
  display: block;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .partners {
    padding-top: 10%;
    padding-bottom: 10%; }
  .partners__logo {
    width: 85%;
    height: auto; } }

@media (max-width: 768px) {
  .partners {
    padding-top: 40px;
    padding-bottom: 0%; }
  .partners__logo {
    width: 60%; }
  .partners__item {
    margin-bottom: 40px; } }

.page-footer__logo {
  display: block;
  margin-top: -10px;
  margin-bottom: 22px; }

.page-footer__headline {
  margin-top: 11px;
  margin-bottom: 23px;
  font-family: "Raleway";
  color: #ffffff;
  font-size: 24px;
  font-weight: 700; }

.page-footer__item {
  padding-top: 15px;
  padding-bottom: 19px;
  border-bottom: 1px solid #252525; }
  .page-footer__item:first-of-type {
    padding-top: 0; }
  .page-footer__item:last-of-type {
    border-bottom: none; }
  .page-footer__item:hover .page-footer__date {
    color: #ffffff; }
  .page-footer__item:hover .page-footer__text {
    color: #c7b299; }

.page-footer__text {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px; }

.page-footer__date {
  color: #363636;
  font-size: 12px; }

.page-footer__about .page-footer__text {
  margin-bottom: 20px;
  line-height: 24px; }

.page-footer__about .read-more:hover {
  text-decoration: none;
  color: #ffffff; }

.page-footer__dribbble .page-footer__item {
  width: calc(50% - 5px);
  height: auto;
  margin-bottom: 10px;
  padding: 0;
  border: none; }

.page-footer__picture {
  width: 100%;
  height: auto; }

.page-footer__link {
  color: #959595; }
  .page-footer__link--social {
    color: #00bff3; }
  .page-footer__link:hover {
    color: #c7b299;
    text-decoration: none; }

.copyright {
  padding-top: 47px;
  padding-bottom: 52px;
  background-color: #111111; }

.copyright__item {
  padding-left: 13px;
  padding-right: 15px;
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  border-right: 1px solid #252525; }
  .copyright__item:first-of-type {
    padding-left: 0; }
  .copyright__item:last-of-type {
    padding-right: 0;
    border-right: none; }

.copyright__name {
  color: #959595; }

@media (max-width: 992px) {
  .copyright {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #111111; }
  .copyright__list {
    margin-bottom: 20px; } }

@media (max-width: 576px) {
  .copyright__item {
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    border-right: none; } }

.read-more {
  position: relative;
  padding-right: 20px;
  color: #c7b299;
  font-size: 14px;
  font-weight: 300; }
  .read-more::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    display: block;
    width: 10px;
    height: 8px;
    border: 4px solid transparent;
    border-left: 5px solid #8c8c8c; }
  .read-more:hover {
    color: #ffffff; }
    .read-more:hover::after {
      border-left-color: #ffffff; }

.social {
  padding-top: 95px;
  padding-bottom: 61px;
  background-color: #191919; }

/*# sourceMappingURL=style.css.map */
